@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,800;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    background: var(--bg-color);
    /* background: linear-gradient(-45deg, #3265c5, #cc4ee27f, #583fd6, #1e1257);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite; */
}

:root {
    --bg-color: #191f36;
    --snd-bf-color: #262840;
    --text-color: #fff;
    --main-color: #59B2F4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.body {
    /* background: var(--bg-color); */
    color: var(--text-color);
    overflow: hidden;
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;


}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.5rem;
    margin-left: 4rem;
    font-weight: 700;
    color: var(--text-color);
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

.menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
.point_about i {
    font-size: 2rem; /* Adjust the size as needed */
    animation: poniterIcon 4s ease-in-out infinite;
    color: yellow;
}

@keyframes poniterIcon {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);

    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    width: 100%;
    /* Full viewport width */
    pad: 20px 0 0 10px;
    color: #fff;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content {
    width: 60%;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);

    }
}

.home-content p {
    font-size: 1.6rem;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1 rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transform: 0.5s ease;

}

.btn:hover {
    box-shadow: none;

}
.clicked-ic{
    font-size: 10rem;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #fff;
    width: 100%;
    background: var(--snd-bg-color);
    padding-left: 10rem;
    padding-right: 10rem;
}
.about-img img {
    width: 30vw;


}
.about-content{
    padding-left: 5rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;

}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;


}
/* Service Section css  */
.service{
    margin: 10rem;
}
.service h2{
    margin-bottom: 2rem;
    color: #fff;
}
.heading{
    text-align: left;
    font-size: 4.5rem;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box{

    flex: 1 1 30rem;
    background: var(--snd--bg-color);
    background-color: #262840;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    color: #fff;
    text-align:center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
    background: var(--snd-bf-color);

}
.service-box h3{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    background: var(--snd-bf-color);
}
.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    background: var(--snd-bf-color);
}

/* Porject css */

.project h2{
    margin-bottom: 4rem;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    align-items: center;
    gap: 2.5rem;

}

.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.project-box:hover img{
    transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 3rem;
}

.project-layer p{
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}
.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}
.project-layer a i{
    font-size: 2rem;
    color: var(--snd-bg-color);
}



/* Adjustments for smaller screens */
@media only screen and (max-width: 400px) {
    .header {
        padding: 1.5rem 2%;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 1.2rem;
        margin-left: 2rem;
    }

    .menu-icon {
        display: block; /* Show the menu icon on smaller screens */
    }

    .section {
        padding: 6% 5% 2rem;
        height: 100vh;
    }
  

    .home-content {
        overflow: hidden;
        width: 90%; /* Adjust width for smaller screens */
    }

    .home-content h1 {
        font-size: 4rem; /* Adjust font size for smaller screens */
    }

    .home-img img {
        width: 50%;
    }

    .social-media a {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 2rem 1rem;
    }

    .about {
        flex-direction: column;
        padding: 6rem 5%;
    }

    .about-img img {
        width: 50%;
    }

    .about-content {
        padding: 0;
        text-align: center;
    }
    .about h2{
        line-height: 0.8rem;
        font-size: small;
    }

    .service {
        margin: 5rem 0;
    }

    .service-container .service-box {
        flex:1 1 20%;
    }

    .service-box i {
        font-size: 5rem;
    }

    .service-box h3,
    .service-box p {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 601px) and (max-width:800px) {
    .header {
        padding: 1.5rem 2%;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 1.2rem;
        margin-left: 2rem;
    }

    .menu-icon {
        display: block; /* Show the menu icon on smaller screens */
    }

    .section {
        padding: 6rem 5% 2rem;
        height: 100vh;
    }
  

    .home-content {
        overflow: hidden;
        width: 90%; /* Adjust width for smaller screens */
    }

    .home-content h1 {
        font-size: 4rem; /* Adjust font size for smaller screens */
    }

    .home-img img {
        width: 50%;
    }

    .social-media a {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 2rem 1rem;
    }

    .about {
        flex-direction: column;
        padding: 6rem 5%;
    }

    .about-img img {
        width: 50%;
    }

    .about-content {
        padding: 0;
        text-align: center;
    }

    .service {
        margin: 5rem 0;
    }

    .service-container .service-box {
        flex:1 1 20%;
    }

    .service-box i {
        font-size: 5rem;
    }

    .service-box h3,
    .service-box p {
        font-size: 1.4rem;
    }
    
}
